nav {
  background-color: white;
  border-bottom: 1px solid #d5d5d5;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  padding: 0;  
}

.navbar-brand {
  color: rgb(33, 37, 41);
  line-height: 2.4rem;
  padding: 1rem;
}