@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

:host {
  font-size: 0.8rem;
}

tr.super th {
  text-align: center;
}

tr.super th, td.border-right {
  border-right: 1px solid $gray-400;
}

tr.super th:last-child {
  border-right: none;
}

tr.headers th {
  cursor: pointer;
  padding-right: 12px;

  &:after {
    content: '\f0dc';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 12px;
    color: $gray-400;
  }
}

th.ascending::after {
  color: $gray-800 !important;
  content: '\f0de' !important;
}

th.descending::after {
  color: $gray-800 !important;
  content: '\f0dd' !important;
}